.fms-post-wrap{
  padding: 10px;
  background: rgb(255, 255, 255);
  border:1px solid rgb(237, 237, 237);
  -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.1);
}

.fms-link-just-the-post-mam{
  font-size: 0.5em;
}

.fms-post-wrap{
  font-size: 0.7em;
}
